build/
tmp/
logs/
.vim/
exess
.vscode/
*.log
*.xyz
inputs/json_create/*.json
validation/logs*
validation/validate_functions/logs*
tools/gadi_modulefile.tcl
tools/create_basis/*.h5
tools/create_basis/*.txt
test
.ccls-cache/
.clangd
.clangd/
.cache/
.ccls
.ccls-root
compile_commands.json
json_logs/*
external/*
.ipynb_checkpoints/*
run_clang_format.sh
quick_validation/logs
compile_commands.json
*.err
check_device_info
cublas_dgemm
*.nsys-rep
*.sqlite
test_transpose
